$font-size-root: 15px;
$yellow: #FFF100;
$primary: #000;
$secondary: #6D6E70;
$enable-rounded: false;
$enable-negative-margins: true;
$font-family-sans-serif: 'Argesta', 'Helvetica', sans-serif;

@import 'fonts';
@import 'bootstrap/scss/bootstrap';

body {
  background: #eee;
  margin: 0;
}

.btn {
  font-family: 'Chaney', 'Helvetica', sans-serif;
  text-transform: uppercase;
}

.text-justify {
  text-align: justify;
}
.text-yellow {
  color: $yellow;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Chaney', 'Helvetica', sans-serif;
}

h1 {
  font-size:4em;
  line-height: 0.9em;
}

h2, .ender {
  font-family: 'Chaney', 'Helvetica', sans-serif;
  line-height: 0.9em;
  font-size: 4em;
  margin: 0 auto;
  display:inline;
  clear:right;
}
.ender {
  line-height: 0;
}
.tag-line {
  font-size: 1.5em;
  font-family: 'ArgestaItalic', 'Helvetica', sans-serif;
  color: $secondary;
  display:inline-block;
}
.main {
  background: #fff;
  max-width:1200px;
}

.social, .lead {
  background: $yellow;
}

.lead {
  position:relative;
  .btn{
    position:absolute;
    bottom:0;
    right: 0;
  }
  .lead-content {
    font-size: 0.9em;
  }
}

.person {
  position:relative;
  .btn{
    position:absolute;
    bottom:0;
    right: 0;
  }
  .person-details {
    h2 {
      width: 30%;
      display: inline-block;
    }
    img {
      height: 18px;
    }
  }
}
.logo {
  width: 70%;
}

.footer {
  a {
    text-decoration: none;
    font-family: 'Chaney', 'Helvetica', sans-serif;
    text-transform: uppercase;
  }
}
.page-content {
  position: relative;
  .ender {
    position:absolute;
    bottom:0;
    right:0;
  }
}
@include media-breakpoint-up(md) {
  .logo {
    width: 580px;
  }
}

@include media-breakpoint-up(lg) {
  .footer {
    background: $yellow;
  }
  .page-content .ender {
    position:unset;
  }
}
